/* Font config */

body, html {
	font-family: Arial, Helvetica, sans-serif;
}

/* header config */

header {
	background-color: #FCDB00;
}

/* h1 e i config */

h1, i {
	font-size: 35px;
	font-weight: bold;
}


/* Container config */

.container {
	width: 1170px;
	margin: 0 auto;
}

@media (max-width: 1200px) {
	.container {
		width: 992px;
	}
}

@media (max-width:1024px) {
	.container {
		width: 768px;
	}
}

@media (max-width: 768px) {
	.container {
		width: 580px;
	}
}

@media (max-width: 600px){
	.container{
		width: 425px;
	}
}

@media (max-width: 500px){
    .container{
        width: 350px;
    }
}

@media (max-width: 375px){
    .container{
        width: 320px;
    }
}

@media (max-width: 320px){
    .container{
        width: 300px;
    }
}